@Model RssModelsLib.Models.EmailTemplateViewModel
<h2>Witamy.</h2>


@if (Model.SubscriberList != null)
{
    <p><b>Nowości w obserwowanych kanałach:</b></p>
    <ul>
        @foreach (var Title in Model.SubscriberList)
        {
            <h2>@Title</h2>

            foreach (var singleDocument in Model.RssList)
            {
                int counter = 0;

                if (singleDocument.Title == Title)
                {
                    foreach (var singleDocumentContent in singleDocument.RssDocumentContent)
                    {
                        DateTime PubDate = Convert.ToDateTime(singleDocumentContent.DateOfPublication);
                        if (DateTime.Now.Subtract(PubDate).Hours < 12)
                        {
                            <li>
                                <a href="@singleDocumentContent.Links">@singleDocumentContent.Title</a>
                            </li>
                            counter++;
                        }
                    }
                    if (counter == 0)
                    {
                        <li>
                            <p>Brak nowości z ostatnich 12 godzin.</p>
                        </li>
                    }

                }

            }

        }
    </ul>
}

else
{
    <p>
        Podczas subskrypcji newslettera nie wybrano żadnych kategorii.<br>
        Proszę powrócić do etapu wybierania subskrypcji newslettera.
    </p>
}
<br />

<h4>Pozdrawiamy</h4>
<h4>Zespół Vertisio</h4>

<img src="https://raw.githubusercontent.com/Korag/RSS_Reader/master/Rss_Downloader_Console/Assets/vertisio_logo_tiny.png" />
<br>

@*<form action="local/Reader/CancelNewsletter?EmailAddress=@Model.To" style="text-align:center" method="POST" id="ResignFromNewsletter">
        <p>Nie chcesz otrzymywać newslettera?</p>
        <input type="submit" value="Rezygnuję z newslettera" />
    </form>*@

<div style="text-align:center">
    <a href="https://rssreadervertisio.azurewebsites.net/Reader/ConfirmationOfCancellingNewsletter?EmailAddress=@Model.To">Rezygnuję z newslettera</a>
</div>

