@model  RssModelsLib.Models.SubscriberEmail
@{
    ViewBag.Title = "CancelNewsletter";
}
<div class="container-fluid">
    <div class="col text-center">
        <br />
        <h2>Newsletter został usunięty dla podanego adresu email: @Model.EmailAddress</h2>
           
         
    </div>
</div>
<div class="footer">
    Vertisio 2019
</div>


