@using RSS_Reader

@{
    MailSender.SendCombinationStringToEmail(ViewBag.combinationString, ViewBag.emailAddress);
}

<form action="https://rssreadervertisio.azurewebsites.net/Reader/CancelNewsletter?EmailAddress=@ViewBag.emailAddress" id="formulao" method="POST">
    <p>Wprowadź kombinację znaków, która została właśnie wysłana na Twój adres email: @ViewBag.emailAddress</p>
    <input type="text" id="combination_input" />
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("input").change(function () {
            //alert(ViewBag.combinationString + $("#combination_input").val());
            if (@ViewBag.combinationString == $("#combination_input").val())
            {
                input = jQuery('<input type="submit" id="sendbutton"/>');
                jQuery('#formulao').append(input);
            }
        });
    });
</script>