@using RSS_Reader

@{ 
    string id = Request.Params["id"];

}

<form action="http://localhost:59554/Reader/CancelNewsletter?EmailAddress=@ViewBag.emailAddress&id=@id" id="formulao" method="POST">
    <p>Czy na pewno chcesz usunąć subskrypcję newslettera z podanego adresu ? : @ViewBag.emailAddress</p>
    <input type="submit" id="combination_input" value="Rezygnuję z newslettera"/>
</form>