@using RSS_Reader

@{
    MailSender.SendCombinationStringToEmail(ViewBag.combinationString, ViewBag.emailAddress);
    string combination = "";
}

<form action="https://rssreadervertisio.azurewebsites.net/Reader/CancelNewsletter?EmailAddress=@ViewBag.emailAddress&Combination=@combination" id="formulao" method="POST">
    <p>Wprowadź kombinację znaków, która została właśnie wysłana na Twój adres email: @ViewBag.emailAddress</p>
    <input type="text" id="combination_input" />
    <input type="submit" id="sendbutton" />
</form>
<a href="~/Scripts/jquery-3.3.1.min.map">~/Scripts/jquery-3.3.1.min.map</a>
<script>
    $(document).ready(function () {
        $("input").change(function () {
            @combination == $("#combination_input").val();
        });
    });

</script>

@*<script>
    $(document).ready(function () {
        $("input").change(function () {
            //alert(ViewBag.combinationString + $("#combination_input").val());
            if (@ViewBag.combinationString == $("#combination_input").val())
            {
                input = jQuery('<input type="submit" id="sendbutton"/>');
                jQuery('#formulao').append(input);
            }
        });
    });
</script>*@