@using RSS_Reader

@{ 
    string id = Request.Params["id"];

}

<form action="https://rssreadervertisio.azurewebsites.net/Reader/CancelNewsletter?EmailAddress=@ViewBag.emailAddress&id=@id" id="formulao" method="POST">
    <p>Czy na pewno chcesz usunąć subskrypcję newslettera z podanego adresu ? : @ViewBag.emailAddress</p>
    <input type="submit" id="combination_input" value="Rezygnuję z newslettera"/>
</form>
@if (ViewBag.NotPermitted)
{
    <br />
    <p>Nie masz uprawnień do usunięcia tego adresu email z listy mailingowej lub format wprowadzonego identyfikatora jest niepoprawny</p>
}