
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
  <title>RSS Site</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container-fluid">
      <div class="row">
        <div class="col-2">
            <categorylist
            v-for="category in categoryList"
            v-bind:key="category.Name"
            v-bind:category="category"></categorylist>
        </div>
        <div class="col-10">
            <searchbar class="col"></searchbar>
            <contentlist  class="col"
            v-for="obj in newsList"
            v-bind:item="obj"
            v-bind:key="obj.Title"
            ></contentlist>
            <emailbar class="col"></emailbar>
        </div>
      </div>
    </div>
</body>
  <script>
  Vue.component('searchbar', {
    template: '<div><input><button>Szukaj</button></div>'
  })
  Vue.component('emailbar', {
    template: '<div><input><button>Subskrybuj</button></div>'
  })
  Vue.component('contentlist', {
    props: ['item'],
    template: '<div><div>{{item.Title}}</div><div>{{item.Data}}</div><div>{{item.Content}}</div></div>'
  })
  Vue.component('categorylist', {
    props: ['category'],
    template: '<div class="row"><div>{{category.Name}}</div><input type="checkbox"></div>'
  })

  var app = new Vue({
    el: '#app',
    data: {
      newsList: [
        { Title: 'dasdasdasd', Data: 'Vegetables',Content: 'dsadasd' },
        { Title: 'bxcvbd', Data: 'Vegetables',Content: 'dsadasd' },
        { Title: 'ghjkhgj', Data: 'Vegetables',Content: 'dsadasd' },
        { Title: 'yrtey', Data: 'Vegetables',Content: 'dsadasd' }
      ],
      categoryList:[
        {Name:'Lato z Odkrywcą'},
        {Name:'Z ostatniej chwili'},
        {Name:'Twoje miasto w Faktach RMF FM'},
        {Name:'Raport: Lepsze Jutro'},
      ]
    }
  })
  </script>
</html>