
@{
    ViewBag.Title = "Index";
}
@section scripts
    {

    <script>
          Vue.component('emailbar', {
          })
          Vue.component('contentlist', {
            props: ['item'],
              template:`
    <div>
        <div class="row justify-content-center pad">
        <div class="col-4">
        <img class="float-left " :src="item.image">
        </div>
        <div class="col-8 content">
        <p class="categoryText"><span class="bordercat">{{ item.category }}</span></p>
        <a class="header">{{ item.title }}</a>
        <div class="descriptionText" v-if="item.flag == 'Text'">{{ item.description }}
        </div>
        <div class="audiopos" v-if="item.flag == 'Podcast'">
            <audio controls>
            <source :src="item.mp3" type="audio/mpeg">
            </audio>
        </div>
        <p class="dateText"> {{ item.date }}</p>
        </div>
        </div>
    </div>
    `
                    ,

          })
          Vue.component('categorylist', {
            props: ['category'],
              template: `<div class="row" v-on:click="$emit('by-category', category)">
                           <div class="col-12">
                        <label>
						 <input type="checkbox" name="check">{{category}}
					</label>
                            </div>                          
                        </div>`
        })

        class RssNews {
            constructor(title, category, image, description, date, link, flag) {
                this.title = title;
                this.category = category;
                this.image = image;
                this.description = description.replace(/&quot;/g, '"');
                this.date = date;
                this.link = link;
                this.flag = flag
            }
        }
        class RssPodcast {
            constructor(title, category, image, date, mp3, link, flag) {
                this.title = title;
                this.category = category;
                this.image = image;
                this.date = date;
                this.mp3 = mp3;
                this.link = link;
                this.flag = flag
            }
        }
        var app = new Vue({
            el: '#app',
            data: {
                search: '',
                apiResponse: [],
                newsList: [],
                categoryList: [],
                filteredList: [],
            },
            methods: {
                GetNews: function () {
                    this.$http.get('https://rssreadervertisio.azurewebsites.net/api/RssDocument')
                        .then(response => {
                            this.apiResponse = response.data;
                            this.GetListOfNews(this.apiResponse);
                            this.GetListOfCatergory(this.apiResponse);
                        });
                },
                GetListOfNews: function (apiResponse) {
                    for (let i = 0; i < apiResponse.length; i++) {
                        for (let j = 0; j < apiResponse[i].RssDocumentContent.length; j++) {
                            if (apiResponse[i].Flag == "Text") {
                                this.newsList.push(new RssNews(apiResponse[i].RssDocumentContent[j].Title, apiResponse[i].Title, apiResponse[i].RssDocumentContent[j].Image,
                                    apiResponse[i].RssDocumentContent[j].Description.replace(/<[^>]+>/g, ''), apiResponse[i].RssDocumentContent[j].DateOfPublication,
                                    apiResponse[i].RssDocumentContent[j].Links, apiResponse[i].Flag))
                            }
                            else {
                                this.newsList.push(new RssPodcast(apiResponse[i].RssDocumentContent[j].Title, apiResponse[i].Title, apiResponse[i].Image,
                                    apiResponse[i].RssDocumentContent[j].DateOfPublication, apiResponse[i].RssDocumentContent[j].Image,
                                    apiResponse[i].RssDocumentContent[j].Links, apiResponse[i].Flag))
                            }
                        }
                    }
                },
                GetListOfCatergory: function (apiResponse) {
                    for (let i = 0; i < apiResponse.length; i++) {
                        this.categoryList.push(apiResponse[i].Title);
                    }
                },
                FilteredList: function () {
                    this.filteredList = this.newsList.filter(news => {
                        return news.title.toLowerCase().includes(this.search.toLowerCase())
                    })
                },
                FilterByCategory: function (category) {
                    this.filteredList = this.newsList.filter(news => {
                        return news.category.toLowerCase().includes(category.toLowerCase())
                    })
                }
            },
            created: function () {
                this.GetNews();
                this.filteredList = this.newsList;
            }
            })
    </script>
}



<div id="app" class="container-fluid">
    <br/>
    <div class="row justify-content-center">
        <div class="col-6">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body "></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" v-model="search" type="search" placeholder="Wyszukaj kanał RSS">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg buttoncolor" v-on:click="FilteredList" type="submit">Szukaj</button>
                    </div>
                </div>
        </div>
    </div>
    <br/>
    <div class="row ">
        <div class="col-2">
            <categorylist v-for="category in categoryList"
                          v-bind:key="category.Name"
                          v-bind:category="category"
                          v-on:by-category="FilterByCategory">

            </categorylist>
            <emailbar inline-template>
                <div class="col-6 align-self-center"><input><button>Subskrybuj</button></div>
            </emailbar>
        </div>

        <div class="col-10" >
            <div class=" force-overflow scrollbar" id="style-6">      
                <contentlist class="col"
                             v-for="obj in filteredList"
                             v-bind:item="obj"
                             v-bind:key="obj.$id">

                </contentlist>
            </div>
        </div>
 
</div>
</div>