
@{
    ViewBag.Title = "Index";
}
@section scripts
    {
        <script>
          Vue.component('searchbar', {    
          })
          Vue.component('emailbar', {
            template: '<div><input><button>Subskrybuj</button></div>'
          })
          Vue.component('contentlist', {
            props: ['item'],
              template: '<div class="row border border-primary"><div class="col">{{item.Title}}</div><div class="col">{{item.Category}}</div><div class="row"><span v-html="item.Description"></span></div></div>',
              
          })
          Vue.component('categorylist', {
            props: ['category'],
              template: '<div class="row border border-success"><div>{{category}}</div><input type="checkbox"></div>'
          })

            var app = new Vue({
                el: '#app',
                data: {
                    apiResponse: [],
                    newsList: [],
                    categoryList: []
                },
                methods: {
                    GetNews: function () {
                        this.$http.get('http://localhost:59554/api/RssDocument')
                            .then(response => {
                                this.apiResponse = response.data;
                                this.GetListOfNews(this.apiResponse);
                                this.GetListOfCatergory(this.apiResponse);
                            });
                    },
                    GetListOfNews: function (apiResponse) {
                        for (let i = 0; i < apiResponse.length; i++) {
                            for (let j = 0; j < apiResponse[i].RssDocumentContent.length; j++) {
                                this.newsList.push(apiResponse[i].RssDocumentContent[j])
                            }
                        }
                    },
                    GetListOfCatergory: function (apiResponse) {
                        for (let i = 0; i < apiResponse.length; i++) {
                            this.categoryList.push(apiResponse[i].Title);
                        }
                    }
                },
                created: function () {
                    this.GetNews();
                },
            })
        </script>
    }

        <searchbar inline-template>
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
        </searchbar>




    <div id="app" class="container-fluid">
        <div class="row justify-content-between">
            <div class="row justify-content-between">
                <div class="col-md-2">
                    <categorylist v-for="category in categoryList"
                                  v-bind:key="category.Name"
                                  v-bind:category="category"></categorylist>
                </div>
                <div class="col-md-6 offset-md-1">
                    <searchbar class="col"></searchbar>
                    <contentlist class="col"
                                 v-for="obj in newsList"
                                 v-bind:item="obj"
                                 v-bind:key="obj.$id"></contentlist>
                    <emailbar class="col"></emailbar>
                </div>
                <div class="col-md-2 offset-md-1">
                </div>
            </div>
        </div>
