
@{
    ViewBag.Title = "Index";
}
@section scripts
    {
    <script>
          Vue.component('searchbar', {
          })
          Vue.component('emailbar', {
          })
          Vue.component('contentlist', {
            props: ['item'],
              template:                 `
    <div class="row">
    <div class="col-10">{{item.title}}
    </div>
    <div class="col-2 mx-auto">{{item.category}}
    </div>
    <div class="row"><img :src="item.image">
    <div>{{item.description}}</div><a :href="item.link">Link</a>
    <div>{{item.date}}</div>
    </div>
    </div>
    `,

          })
          Vue.component('categorylist', {
            props: ['category'],
              template: '<div class="row "><div class="col-10">{{category}}</div><div class="col-2"><input type="checkbox"></div></div>'
        })

        class RssNews {
            constructor(title, category, image, description, date, link) {
                this.title = title;
                this.category = category;
                this.image = image;
                this.description = description;
                this.date = date;
                this.link = link;
            }
        }
            var app = new Vue({
                el: '#app',
                data: {
                    apiResponse: [],
                    newsList: [],
                    categoryList: []
                },
                methods: {
                    GetNews: function () {
                        this.$http.get('http://localhost:59554/api/RssDocument')
                            .then(response => {
                                this.apiResponse = response.data;
                                this.GetListOfNews(this.apiResponse);
                                this.GetListOfCatergory(this.apiResponse);
                            });
                    },
                    GetListOfNews: function (apiResponse) {
                        for (let i = 0; i < apiResponse.length; i++) {
                            for (let j = 0; j < apiResponse[i].RssDocumentContent.length; j++) {
                                this.newsList.push(new RssNews(apiResponse[i].RssDocumentContent[j].Title, apiResponse[i].Title, apiResponse[i].RssDocumentContent[j].Image, apiResponse[i].RssDocumentContent[j].Description.replace(/<[^>]+>/g, ''), apiResponse[i].RssDocumentContent[j].DateOfPublication, apiResponse[i].RssDocumentContent[j].Links))
                            }
                        }
                    },
                    GetListOfCatergory: function (apiResponse) {
                        for (let i = 0; i < apiResponse.length; i++) {
                            this.categoryList.push(apiResponse[i].Title);
                        }
                    }
                },
                created: function () {
                    this.GetNews();
                },
            })
    </script>
}


<div id="app" class="container-fluid">
    <br />
    <div class="row justify-content-center">
        <div class="col-6">
            <searchbar inline-template>
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body "></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </searchbar>
            </div>
    </div>
    
    <div class="row ">
        <div class="col-2">
            <categorylist v-for="category in categoryList"
                          v-bind:key="category.Name"
                          v-bind:category="category">

            </categorylist>
        </div>
        <div class="col-10 sliderOverflow ">
            <contentlist class="col"
                         v-for="obj in newsList"
                         v-bind:item="obj"
                         v-bind:key="obj.$id">

            </contentlist>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <emailbar inline-template>
            <div class="col-6 align-self-center"><input><button>Subskrybuj</button></div>
        </emailbar>
    </div>
</div>