body {
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


div {

}
img {

    padding: 5px;
    width: 200px;
}

p {
    font-size: 12px;
    font-weight: normal;
    text-align: justify;
    text-indent: 50px;
    margin: 2px;

}

.sliderOverflow {
   height: 1225px;
    overflow-y: scroll;
}