body {
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


div {

}
img {
    border: 20px;
    padding: 20px;
    width: 200px;
}


.sliderOverflow {
   height: 1225px;
    overflow-y: scroll;
}

.col {
    border:1px outset;
    
}

.descriptionText {
    position:inherit;
    right:20px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

.dateText {
    font-size: 12px;
    font-weight: normal;
    margin: 2px;
    position: absolute;
    bottom: 10px;
    width: 50%;
    text-align: left;
}

.categoryText {
    position:inherit;
    top: 10px;
    font-size: 16px;
    font-weight: normal;
    margin: 2px;
    text-align: right ;
}

.header {
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
    text-align: left;
}

.bordercat {
    border: 2px solid lightblue;
    padding: 0em 1em;
    border-radius: 16px;
    line-height: 2;
}