<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network enableSsl="true" defaultCredentials="false" host="smtp.gmail.com" port="587" userName="vertisio.com@gmail.com" password="*******" />
      </smtp>
    </mailSettings>
  </system.net>

  <!--<system.net>
    <mailSettings>
      <smtp configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
          xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
              <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
              <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <KeyName>Rsa Key</KeyName>
              </KeyInfo>
              <CipherData>
                <CipherValue>KV9Y23wTVCo/p1OjQsxHQodJN/Y4McHSPymUiswBB6o3Q9oZ6SzELq+oBMJaAJcEHHivyfinvXtEjK0iRrxJp0kD8hfrtxmAyZm2fuRYUHwZrFKAiIxAWychnTr67+d5w28YCtW/6Gb/rEAsqWzQ6GYEiCyQED3w3N0/S7VU7rhlTAyjfmwk5PSM7YikemEFM80MqaYC58nA4GuWANuqpU4/Hh1R4bAzX+2LLqmyx0syJ1s+QyGIW6zqyorZFHEuTTjjbrXIOz/3arJSAmYubsUG7YYd21WTrnBrckWy5XVpxEZV9nG2KJZnM4+Fe0a5+8AyqtXdTGf6f8EbhFMgAA==</CipherValue>
              </CipherData>
            </EncryptedKey>
          </KeyInfo>
          <CipherData>
            <CipherValue>a6lr1ZyaAVBUdM3Sj0RrMwFpguz5Cecp</CipherValue>
          </CipherData>
        </EncryptedData>
      </smtp>
    </mailSettings>
  </system.net>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
