<h2>Witamy.</h2>

<p><b>Oto Twój kod do usunięcia newslettera.</b></p>
<p>@Model.Combination</p>

<h4>Pozdrawiamy</h4>
<h4>Zespół Vertisio</h4>

<img src="https://raw.githubusercontent.com/Korag/RSS_Reader/master/Rss_Downloader_Console/Assets/vertisio_logo_tiny.png" />
